html, * {
    font-family: 'Lacquer', sans-serif;
    box-sizing: border-box;
  }
  
body {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #BC0B15;
}

main {
    height: 50vh;
    display: grid;
    grid-template-columns: 150px 250px 150px;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    justify-items: center;
  }

div.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    
}

div.game-piece {
    border: 0.5px solid black;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #FF8300;
    text-align: center;
}

h1 {
    grid-column: 2 / 3;
    /* background-color: crimson; */
    padding: 8px;
    border-radius: 2%;
}

#timer{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 16px;
    margin-top: 10px;
}

#time-passed{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

img{
    height: 10vmin;
    width: 10vmin;
    border: 1px solid black;
    border-radius: 50%;
}

div.bomb-counter {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 12px;
}
#bombs-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    font-size: 8px;
    align-self: center;
}

#mime-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}

#mime-right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
}

#play-game {
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: center;
    border: 2px solid black;
    border-radius: 2%;
}

.bomb {
    background-color: #FF8300;
    border: 0.5px solid black;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
}

.hidden {
    font-size: 0px;
}

div.winner {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 50px;
    z-index: 2;
}
